/* цвет навбара
.bg-beige {
    background-color: beige !important;
}
*/

.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none
}